@model InventoryBeginners.Models.Product

@{
    ViewData["Title"] = "Edit";
}


<div class="col-11 mx-auto pt-0 p-0">
    <div class="card">

        <div class="card-header text-uppercase text-black text-center" style="height:40px; background-color:#DFBA4E">
            <h5>Edit Product</h5>
        </div>
        <!-- Form Area-->
        <form asp-action="Edit" enctype="multipart/form-data" onsubmit="return ValidateForm()">

            <div class="btn-group">

                <div class="col-8">
                    <div class="row">
                        <!-- controls section -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <div class="form-group col-6">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" readonly />
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group col-6">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="Cost" class="control-label"></label>
                            <input asp-for="Cost" class="form-control" />
                            <span asp-validation-for="Cost" class="text-danger"></span>
                        </div>

                        <div class="form-group col-6">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="UnitId" class="control-label"></label>
                            <select asp-for="UnitId" class="form-control" asp-items="ViewBag.Units"></select>
                            <span asp-validation-for="UnitId" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="BrandId" class="control-label"></label>
                            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands"></select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="ProductGroupId" class="control-label">Subcategories</label>
                            <select asp-for="ProductGroupId" class="form-control" asp-items="ViewBag.ProductGroups"></select>
                            <span asp-validation-for="ProductGroupId" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="ProductProfileId" class="control-label">Consumers</label>
                            <select asp-for="ProductProfileId" class="form-control" asp-items="ViewBag.ProductProfiles"></select>
                            <span asp-validation-for="ProductProfileId" class="text-danger"></span>
                        </div>




                    </div>
                </div>


                <div class="col-4 row">
                    <div class="form-group col-12 justify-content-center align-middle mb-0 pb-0">
                        <img id="PreviewPhoto" src="~/images/@Model.PhotoUrl" alt="Logo Image"
                             width="300" height="300" style="border:1px ;margin-top:30px; " />
                    </div>

                    <div class="form-group col-2 pt-0 mt-0">
                    </div>


       
                    <div class="form-group">
                        <span class="text-danger invisible" id="ImageError">Please choose image</span>
                    </div>

                    <input type="hidden" asp-for="@Model.PhotoUrl" id="PhotoUrl" />

                    <div class="form-group col-10 pt-0 mt-0">
                        <div class="custom-file">
                            <input asp-for="ProductPhoto" class="custom-file-input" id="customFile"
                                   onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0])">
                            <label class="custom-file-label" for="customFile">@Model.BreifPhotoName</label>
                        </div>
                    </div>
                </div>

            </div>


            <div class="form-group btn-group col-10">
                <div class="col-1"></div>
                <div class="col-5">
                    <input type="submit" value="Update" class="btn btn-primary btn-block" />
                </div>
                <div class="col-5">
                    <a class="btn btn-secondary btn-block" asp-action="index"
                       asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
                </div>
                <div class="col-1"></div>
            </div>

        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

        $(".custom-file-input").on("change", function () {

            document.getElementById('ImageError').classList.add("invisible");
            document.getElementById('ImageError').classList.remove("visible");

            var fsize = $(this)[0].files[0].size;

            var fileName = $(this).val().split("\\").pop();

            var fileExt = fileName.split('.').pop();


            var error = IsImageValid(fsize, fileExt);
            if (error != "") {

                document.getElementById('ImageError').innerText = error;
                document.getElementById('ImageError').classList.remove("invisible");
                document.getElementById('ImageError').classList.add("visible");
                return;
            }


            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

            document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0]);

            document.getElementById('PhotoUrl').value = fileName;

        });


        function IsImageValid(fsize, fileExt) {

            var error = "";
            error = IsExtensionValid(fileExt);

            if (error != "") {
                return error;
            }

            error = IsFileSizeValid(fsize);
            if (error != "") {
                return error;
            }

            return "";

        }

        function IsExtensionValid(fileExt) {

            if (fileExt != 'jpg' && fileExt != 'png') {
                return "Only Jpeg or Png files are Accepted";
            }

            return "";
        }

        function IsFileSizeValid(fSize) {

            var fSizeInKb = Math.round((fSize / 1024));

            if (fSizeInKb > 100) {
                return "Files Sized over 100 Kb are not Allowed";
            }

            return "";
        }

        function IsImageSelected() {

            if (document.getElementById('PhotoUrl').value == 'Error') {
                return "Image Not Selected To Upload";
            }

            return "";

        }

        function ValidateForm() {


            var error = IsImageSelected();
            if (error != "") {

                document.getElementById('ImageError').innerText = error;
                document.getElementById('ImageError').classList.remove("invisible");
                document.getElementById('ImageError').classList.add("visible");
                return false;
            }


            return true;
        }



    </script>
}
